<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/db_style.css')}}">
    <meta charset="UTF-8">
    <title>Add Post</title>
</head>
<body>
    <h1>Add New Post to Database</h1>
    <center>
    <h3>In this page you can add a new post to database</h3>
    <hr><br>
    <form method="post">  <!-- post - notiek informācijas pārraide -->
        <input type="text" name="title" placeholder="Insert Post Title"><br><br>
        <textarea name="text" placeholder="Insert Post Text"></textarea><br><br>
        <button type="submit">Add new post</button>
    </form>
    </center>

</body>
</html>