<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/db_style.css')}}">
    <meta charset="UTF-8">
    <title>Database Main Page</title>
</head>
<body>
<center>
    <h1>Database Manager Page</h1>
    <h3>In this page you can edit, add and see database fields</h3>
    <hr>
    <h4>Post Table</h4>
    <a href="/add_post"><button>Add New Post</button></a><br><br>
    <a href="/all_posts"><button>Read all posts</button></a><br><br>
    <hr>
    <h4>Message Table</h4>
    <a href="/add_message"><button>Add New Message</button></a><br><br>
    <a href="/all_messages"><button>Read all messages</button></a><br><br>
    <hr>
    <h4>User Table</h4>
    <a href="/add_user"><button>Add New User</button></a><br><br>
    <a href="/all_users"><button>Show all users</button></a><br><br>

</center>
</body>
</html>