{% extends 'base.html' %}

{% block title %}
Database Management
{% endblock %}

{% block body %}
<center>
    <h1>Main Page</h1>
        <h3>Manage database information</h3>
        <hr>
            <h4>Post Table</h4>
                <a href="/post_add"><button>Add New Post</button></a><br><br>
                <a href="/post_all"><button>Read all posts</button></a><br><br>
                <hr>
            <h4>Message Table</h4>
                <a href="/message_add"><button>Add New Message</button></a><br><br>
                <a href="/message_all"><button>Read all messages</button></a><br><br>
                <hr>
            <h4>User Table</h4>
                <a href="/user_add"><button>Add New User</button></a><br><br>
                <a href="/user_all"><button>Show all users</button></a><br><br>
                <hr>
</center>
{% endblock %}
