{% extends 'base.html' %}

{% block title %}
All Messages
{% endblock %}

{% block body %}

<h1>All Messages in Database</h1>
<center>
    <h3>This page shows all database messages</h3>
    <hr>

    {% for message in messages %}

    <table style="width:90%;">
        <tr>
            <th class="msgTh">Title:</th>
            <td class="msgTd1">{{message.title}}</td>
            <td class="msgTd2"></td>
        </tr>
        <tr>
            <th class="msgTh">Text:</th>
            <td class="msgTd1">{{message.messageText}}</td>
            <td class="msgTd2">
                <form action="/message_edit" method="POST">
                    <input type="hidden" name="edit_current_message" value="{{ message.id }}">
                    <button class="smallButton" type="submit">Edit</button>
                </form>
            </td>
        </tr>
        <tr>
            <th class="msgTh">Priority:</th>
            <td class="msgTd1">{{message.priority}}</td>
            <td class="msgTd2"></td>
        </tr>
    </table>

    <hr>
    {% endfor %}

</center>

{% endblock %}