{% extends "base.html" %}

{% block title %}
Edit Message
{% endblock %}

{% block body %}

<h1>Edit Message</h1>
<center>
<h3>In this page you can edit message</h3>
    <hr><br>
    <form action="/message_edit" method="POST">  <!-- POST method pushes data -->
        <input type="text" name="title" value="{{message.title}}"><br><br>
        <input type="text" name="messageText" value="{{message.messageText}}"><br><br>
        <input type="number" min="1" max="3" name="priority" value="{{message.priority}}"><br><br>
    <!-- SAVE button -->
        <input type="hidden" name="submit_data" value="{{message.id}}">
        <button class="smallButton" type="submit">Save</button><br><br>
    </form>
    <!-- DELETE button -->
        <button class="smallButton" type="button" onclick="deletePopup()">Delete</button>
    <!-- import POPUP container -->

    {% include 'popup.html' %}
</center>

<script src="/static/js/popup.js"></script>

{% endblock %}}
