{% extends 'base.html' %}

{% block title %}
Add User
{% endblock %}

{% block body %}

<h1>Add New User</h1>
<center>
<h3>In this page you can add a new post to database</h3>
<hr><br>
<form method="post">  <!-- methods POST(add), PUT(modify), GET (fetch) -->
    <input type="text" name="name" placeholder="Enter User name"><br><br>
    <input type="password" name="password" placeholder="Enter Password"><br><br>
    <input type="number" min="1" max="120" name="age" placeholder="Enter Age"><br><br>
    <label style="display: inline-block;">Admin rights:</label>
    <input type="checkbox" name="isAdmin" style="width: 20px; height: 20px; vertical-align: middle;"><br><br>
    <button type="submit">Add new user</button>
</form>
</center>

{% endblock %}
