<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/db_style.css')}}">
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
    <h1>All Users in Database</h1>
    <center>
    <h3>This page shows all database users</h3>
    <hr>
    <table>
        <tr>
            <th>User Name</th>
            <th>User PWD</th>
            <th style="text-align:center;">User Age</th>
            <th style="text-align:center;">Is Admin</th>
            <th style="text-align:center;">Edit Data</th>
        </tr>
    </table>
    <hr>

    {% for user in allUsers %}
    <table>
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.password}}</td>
            <td style="text-align:center;">{{user.age}}</td>
            <td style="text-align:center;">{{user.isAdmin}}</td>
            <td style="text-align: center;">
                <form method="post">
                    <input type="hidden" name="edit_current_user" value="{{ user.id }}">
                    <button class="editUser" type="submit">Edit</button>
                </form>
            </td>
        </tr>
    </table>
    <hr>
    {% endfor %}
    </center>

</body>
</html>